
@{
    ViewBag.Title = "Change Password - Account - Schultz Legend";
}

<h2>Change Password</h2>

@Html.AntiForgeryToken()

<label class="col-md-2 control-label">Current Password</label>
<div class="col-md-10">
    <input class="form-control" id="tb-curpassword" type="password">
</div>

<label class="col-md-2 control-label">New Password</label>
<div class="col-md-10">
    <input class="form-control" id="tb-newpassword" type="password">
    <span>
        Password must be at least 8 characters long<br />
        and contain at least one number, uppercase<br />
        letter, and lowercase letter.
    </span>
</div>

<label class="col-md-2 control-label">Confirm password</label>
<div class="col-md-10">
    <input class="form-control" id="tb-confpassword" type="password">
</div>

<div class="col-md-offset-2 col-md-10">
    <input id="btn-change-password" type="button" class="btn btn-default" value="Submit" />
</div>
<div class="col-md-offset-2 col-md-10">
    <span class="field-validation-valid text-danger" id="error">&nbsp;</span>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/account.js")
}
