
@{
    ViewBag.Title = "Forgot Password - Account - Schultz Legend";
}

<h2>Forgot Password</h2>

<div id="send-email">
    <label class="col-md-2 control-label">Email</label>
    <div class="col-md-10">
        <input class="form-control" id="tb-email" type="text">
    </div>

    <div class="col-md-offset-2 col-md-10">
        <input id="btn-forgot" type="button" class="btn btn-default" value="Recover Password" />
    </div>
</div>

<div id="check-email" class="col-md-12 text-center hidden">
    <p class="text-center">Please check your inbox for instructions to recover your password!</p>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/account.js")
}