
@{
    ViewBag.Title = "Main - Account - Schultz Legend";
}
<div class="container">
    <h2>Account Information</h2>
    <br />
    <div class="col-md-1">
        <label class="control-label">Email:</label>
    </div>
    <div class="col-md-11">
        <label class="control-label">@Model.Email</label>
    </div>

    <br /><br /><br />
 
    <a class="col-md-12" href="/ChangePassword">Change Password</a>
</div>

