@{
    ViewBag.Title = "Schultz Legend";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4 summary">
            <div style="text-align:center; margin-top: 70px">
                <a href="/Tracker"><h2>Progress Tracker</h2></a>
            </div>
        </div>
    </div>


</div>